<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Match Tournoi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
        html, body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #0d1117;
            color: #f8fafc;
            font-family: 'Orbitron', sans-serif;
        }

        #pongCanvas {
            box-shadow: 0 0 30px rgba(59, 130, 246, 0.5);
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <script src="/static/js/game_tournament.js"></script>
</body>
</html>
