<!-- static/templates/tournament_details.html -->
<div class="tournament-full-container">
	<div class="top-bar">
	  
	  <!-- Bouton de retour à gauche -->
	  <div class="back-btn" onclick="navigateTo('/tournament')">
		<i class="fa fa-arrow-left"></i>
		<img src="static/img/return_arrow.png" alt="Retour" class="arrow-icon" />
	  </div>
  
	  <!-- Titre centré -->
	  <div style="flex: 1; text-align: center;">
		<h1 id="tournamentTitle" class="bracket-title" style="margin: 0 auto;"></h1>
	  </div>
  
	</div>
  
	<!-- Bracket -->
	<div id="bracketContainer" class="bracket-container">
	  <!-- Bracket généré dynamiquement ici -->
	</div>
  </div>
  