<!-- static/html/tournament.html -->
<div id="tournament-view" class="tournament-full-container">
    <!-- Top Bar -->
    <div class="top-bar">
        <div class="back-btn" onclick="navigateTo('/board')">
            <i class="fa fa-arrow-left"></i>
            <img src="/static/img/return_arrow.png" alt="Retour" class="arrow-icon" />
        </div>
    </div>

    <!-- Conteneur principal -->
    <div class="container">
        <!-- Rejoindre un tournoi existant -->
        <div class="card-custom">
            <h4 class="card-header-custom" data-i18n="join_existing_tournament">Rejoindre un tournoi existant</h4>
            <select id="tournamentSelect" class="form-select mt-2 mb-2">
                <option value="" data-i18n="select_tournament_placeholder">-- Sélectionner un tournoi --</option>
            </select>
            <button id="join-tournament-btn" class="btn btn-primary mt-2" data-i18n="join_button">Rejoindre</button>
        </div>

        <!-- Créer un tournoi -->
        <h2 data-i18n="create_tournament_title">Créer un Tournoi</h2>

        <div class="mb-3">
            <label class="form-label" for="tournamentName" data-i18n="tournament_name_label">Nom du tournoi</label>
            <input type="text" class="form-control" id="tournamentName">
        </div>

        <div class="mb-3">
            <label class="form-label" for="numPlayers" data-i18n="number_of_players_label">Nombre de joueurs</label>
            <input type="number" class="form-control" id="numPlayers" min="2" step="2" onchange="generatePlayerFields()">
        </div>

        <div id="playersContainer" class="mb-3"></div>

        <h3 data-i18n="game_settings">Paramètres du jeu</h3>
        <div class="row mb-3">
            <div class="col">
                <label for="gameTime" class="form-label" data-i18n="game_time_label">Temps</label>
                <input type="number" class="form-control" id="gameTime" value="5" min="1" max="10">
            </div>
            <div class="col">
                <label for="scoreLimit" class="form-label" data-i18n="score_limit_label">Score limite</label>
                <input type="number" class="form-control" id="scoreLimit" value="5" min="1" max="20">
            </div>
        </div>

        <button id="create-tournament-btn" class="btn btn-primary" data-i18n="create_button">Créer</button>
    </div>

    <script src="/static/js/tournament.js"></script>
</div>
