/* Remise à zéro + style général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('/static/img/PONG_Accueil.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centre tout verticalement */
  min-height: 100vh;
  /* On laisse un padding-top pour descendre le bloc principal */
  padding-top: 120px;
  color: #fff;
}

/* Animation de va-et-vient vertical */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Position initiale et finale */
  }
  50% {
    transform: translateY(-10px); /* Monte de 10px */
  }
}

/* Titre au dessus */
.title-block {
  margin-left: 600px;
  position: relative;
  top: 5cm; /* Descend le bloc de 3 cm */
  position: relative; /* Assurez-vous que l'élément peut être déplacé */
  animation: bounce 1.3s infinite; /* Animation continue */
}

/* Image du titre (Pong) */
.title-block img {
  max-width: 372px;
  height: 138px;
}

/* Container (Welcome to Morpion) */
.welcome-container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  background: #fff;
  color: #4a5568;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  /* On peut ajouter un petit décalage avec margin-top si besoin */
  margin-top: 3cm; /* Remonte de 2 cm */
  margin-bottom: 5px;
}

/* Boutons, etc. */
button {
  padding: 10px 20px;
  cursor: pointer;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.button-group .active {
  background-color: #5a67d8;
  color: #fff;
}

.button-group button:not(.active) {
  background-color: #efefef;
  color: #4a5568;
}

.button-group button:hover:not(.active) {
  background-color: #e2e8f0;
}

/* Survol des boutons “Login” et “Sign Up” */
#login-btn:hover,
#signup-btn:hover {
  background-color: #d6d6d6;
  color: #4a5568;
  transition: background-color 0.3s ease;
}

/* Clic sur “Login” / “Sign Up” */
#login-btn:active,
#signup-btn:active {
  background-color: #4f46e5;
  color: #ffffff;
  transition: background-color 0.1s ease, color 0.1s;
}

/* Bouton “Continue with 42” */
.auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #2d3748;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.auth-button img {
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}

.auth-button:hover {
  background-color: #111827;
}

.text-muted {
  margin-bottom: 4mm; /* Ajoute un espace de 4mm sous le paragraphe */
}